<%- include('partials/header') %>

   <div class="container">
       <div class="image-container">
        <% posts.forEach((post)=>{ %>
                <img src=<%=post.imgUrl%> onclick="fullscreen(`<%=post._id%>`)"alt="" srcset="">
        <% })%>
        <div class="fullscreenOff">
            <img src="" alt="">
        </div>
      </div>       
   </div>
<%- include('partials/footer'); %>
    